.container {
  min-width: 350px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .header {
    display: flex;
    justify-content: space-between;
    // margin: 30px auto;
    .titleBanner {
      margin-left: 20px;
    }
    .closeBtn {
      margin-top: 40px;
      margin-right: 20px;
    }
  }

  .cardBanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 100%;

    .topCard {
      margin-bottom: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .title {
        text-align: center;
      }
      .photos {
        margin-left: 40px;
        border-radius: 40px;
        display: flex;
        flex-wrap: wrap;
        img {
          align-self: flex-start;
          width: 100px;
          height: 100px;
        }
      }
      .middle {
        margin-top: 100px;
        display: flex;
        flex-direction: column;

        .price {
          span {
            font-weight: 500;
          }
        }
        .description {
          // text-align: center;
          min-width: 350px;
          width: 600px;
          margin: 20px auto;
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: flex-end;
      .addtoCart {
        button {
          border: 0;
          border-radius: 40px;
          width: 375px;
          height: 55px;
          background: #9dd558;
          color: #ffffff;
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
          transition: all 0.25 ease-in-out;
          &:hover {
            box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
            background: lighten(#9dd558, 5%);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 376px) {
  .container {
    max-height: 812px;
    min-height: 600px;
    height: 100%;
    .middle {
      margin-top: 0 !important;
      .price {
        text-align: center;
      }
      .description {
        max-width: 350px;
        margin-left: 12.5px;
      }
    }
    .bottom {
      justify-content: center !important;
      .addtoCart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        button {
          max-width: 350px;
        }
      }
    }
  }
}
